body{

    background-color: brown;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;  
}
img{
    border-radius: 20%;
}


/* Media query for skærme, der er mindre end eller lig med 768px i bredden */
@media only screen and (max-width: 400px) {
    img {
        max-width: 80%; /* Begræns billedets maksimale bredde til 80% af forælderens bredde */
    }
}

